.navbar-default { /* navigation bar */
    background-color: #4870B6;
    border: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus /* nav bar slider icon after click */ 
{
  background-color: #333333;
}

ul.nav a:hover { color: #000; } /* hover in nav bar */
@media screen and (max-width: 640px) {.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #FFF;}}


.navbar .nav > li > a { /* Navigation items */
  float: none;
  padding: 20px 15px 15px;
  color: #FFF;
  font-family: "Eurostile", "Exo 2", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: none;
}

.dropdown-menu > li > a { 
  color: #4870B6;
  font-family: "Eurostile", "Exo 2", sans-serif;
  font-size: 16px;
  text-shadow: none;

}

.dropdown-menu > li > a:hover{ background-color: #4870B6; }

#main_header > h1{

  text-align: left;
  color: #4870B6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#main_header_img {

  float: center;
  max-width: 30%;
}

.page-wrapper {
  width: 85%;
  margin: 0 auto;
}

body { padding-top: 7%; }
@media screen and (max-width: 640px) { body { padding-top: 15%;}}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
    float: relative;
    padding: 1%;
    text-align: center; 
    height: 100%;
}


.small-img{ width: 10%; }
.medium-img{ width: 50%; }
.large-img{ width: 90%; }
.pagination-centered{ text-align: center; }

.thumbnail { border: 2px solid #4870B6; }

.btn-launch:hover {
    background-color: #5CB85C;
    border-color: #99B7D3;
    color: #FFF;
}
.btn-launch {
    background-color: #C6D8E9;
    border-color: #99B7D3;
    color: #FFFFFF;
}

.glyphicon {   /* Bootraps glyphicons */ 
  position: relative;  
  top: 1px;
  padding-right: 5px;  
  display: inline-block;  
  font-family: 'Glyphicons Halflings';  
  -webkit-font-smoothing: antialiased;  
  font-style: normal;  
  font-weight: normal;  
  line-height: 0;  

}

.fa {  /* Font awesome icons */ 
  padding-right: 5px; 
  position: relative; 
}

#clickme{ /* Plus sign, placement */
  /*background: url('Images/down-arrow.png');*/
  padding-left: 87%;
  padding-top: 0%;
}

.filter_slider { /* Slider for larger/smaller text */
    width: 100% !important;
    float: center !important;
    vertical-align: bottom !important;
    display: inline;
    clear: both !important;
}

/* Don't mind me... */
#content {
    margin: 20px;
}

#expand, #collapse { margin: 5%;}

/* Styles for collapsing sections/section */
#years, #months, #posts{ cursor:pointer;}
.archive_year { cursor: pointer; list-style: none; }
.archive_month { list-style-type: circle; cursor: pointer; }
.archive_posts { list-style: square url('http://www.webbossuk.com/admin/images/reply-arrow.png'); cursor: pointer; }








